{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<html data-namespace-typo3-fluid="true">

    <f:layout name="Preview"/>

    <f:section name="Header">
        <be:link.editRecord uid="{data.uid}" table="{data.mainType}"><strong>{data.header}</strong></be:link.editRecord>
    </f:section>

    <f:section name="Content">
        <div style="margin: 10px 0 0 0;">
            <f:sanitize.html>{data.bodytext}</f:sanitize.html>
        </div>
    </f:section>

    <f:section name="Footer">
        (LIEPS) Element zuletzt geändert am
        <f:format.date format="d.m.Y \u\m H:i:s \U\h\r">{data.rawRecord.tstamp}</f:format.date>
    </f:section>

</html>