{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace lieps=LiepsGmbH\Liepstypo3defaults\ViewHelpers}

<html data-namespace-typo3-fluid="true">

    <f:layout name="Preview"/>

    <f:section name="Header">
        <be:link.editRecord uid="{data.uid}" table="{data.mainType}"><strong>{data.header}</strong></be:link.editRecord>
    </f:section>

    <f:section name="Content">
        <div style="margin: 8px 0 0 0;">
            <f:format.crop maxCharacters="90">
                <f:format.stripTags>{data.bodytext}</f:format.stripTags>
            </f:format.crop>
        </div>
        <f:if condition="{data.image}">
            <f:for each="{data.image}" as="image">
				<f:image image="{image}" maxWidth="100" cropVariant="default" style="padding-top: 4px;" />
            </f:for>
        </f:if>
    </f:section>

    <f:section name="Footer">
        <b>LIEPS Inhaltselement:</b> Zuletzt geändert am
        <f:format.date format="d.m.Y \u\m H:i:s \U\h\r">
            {data.rawRecord.tstamp}
        </f:format.date>

        <!-- Abstand davor nur anzeigen, wenn mindestens Extraklein -->
        <f:if condition="{data.space_before_class}">
            <br />
            <b>Abstand davor:</b>
            <f:switch expression="{data.space_before_class}">
                <f:case value="extra-small">Extraklein</f:case>
                <f:case value="small">Klein</f:case>
                <f:case value="medium">Mittel</f:case>
                <f:case value="large">Groß</f:case>
                <f:case value="extra-large">Extragroß</f:case>
            </f:switch>
        </f:if>

        <!-- Abstand danach nur anzeigen, wenn mindestens Extraklein -->
        <f:if condition="{data.space_after_class}">
            <br />
            <b>Abstand danach:</b>
            <f:switch expression="{data.space_after_class}">
                <f:case value="extra-small">Extraklein</f:case>
                <f:case value="small">Klein</f:case>
                <f:case value="medium">Mittel</f:case>
                <f:case value="large">Groß</f:case>
                <f:case value="extra-large">Extragroß</f:case>
            </f:switch>
        </f:if>

        <!-- Sichtbarkeit -->
        <f:if condition="{data.rawRecord.hidden}">
            <br />
            <b>Sichtbarkeit:</b> Deaktiviert
        </f:if>

        <!-- Start -->
        <f:if condition="{data.rawRecord.starttime}">
            <br />
            <b>Start:</b>
            <f:format.date format="d.m.Y H:i">{data.rawRecord.starttime}</f:format.date>
        </f:if>

        <!-- Stop -->
        <f:if condition="{data.rawRecord.endtime}">
            <br />
            <b>Ende:</b>
            <f:format.date format="d.m.Y H:i">{data.rawRecord.endtime}</f:format.date>
        </f:if>

        <!-- Zugriff -->
        <f:if condition="{data.rawRecord.fe_group}">
            <br />
            <b>Zugriff:</b> <lieps:backend.feGroupLabel value="{data.rawRecord.fe_group}" />
        </f:if>
    </f:section>

</html>