<f:layout name="Default" />

<f:section name="Configuration">
    <!-- Weitere Konfigurationseinstellungen hier -->
</f:section>

<f:section name="Main">

	<f:variable name="menuType" >
    	<f:cObject typoscriptObjectPath="menu.type" />
	</f:variable>

	<f:if condition="{menuType} == 1">
		<f:render partial="Header-classic-bs5" arguments="{_all}" />
	</f:if>
	<f:if condition="{menuType} == 2">
		<f:render partial="Header-modal-full-01" arguments="{_all}" />
	</f:if>
	<f:if condition="{menuType} == 3">
		<f:render partial="Header-canvas-from-left-01" arguments="{_all}" />
	</f:if>	
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />	
	<f:render partial="Footer" arguments="{_all}" />

</f:section>
