<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
 <header>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" role="img" width="40" height="32" viewBox="0 0 256 256" xml:space="preserve" class="bi me-2">
					<desc>Created with Fabric.js 1.7.22</desc>
					<defs></defs>
					<g transform="translate(128 128) scale(0.72 0.72)">
						<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)">
							<path d="M 89.363 43.325 c -4.784 -5.356 -7.661 -12.692 -8.057 -30.226 c -0.055 -2.419 -2.032 -4.358 -4.452 -4.358 H 13.146 c -2.42 0 -4.397 1.939 -4.452 4.358 c -0.396 17.534 -3.273 24.87 -8.057 30.226 c -0.849 0.951 -0.849 2.399 0 3.35 c 4.784 5.356 7.661 12.692 8.057 30.226 c 0.055 2.419 2.032 4.358 4.452 4.358 h 63.708 c 2.42 0 4.397 -1.939 4.452 -4.358 c 0.396 -17.534 3.273 -24.87 8.057 -30.226 C 90.212 45.724 90.212 44.276 89.363 43.325 z M 59.64 53.159 c 0 6.705 -5.454 12.16 -12.159 12.16 H 34.36 c -2.209 0 -4 -1.791 -4 -4 V 45 V 28.681 c 0 -2.209 1.791 -4 4 -4 H 47.48 c 6.705 0 12.159 5.455 12.159 12.16 c 0 3.142 -1.208 5.999 -3.17 8.16 C 58.432 47.16 59.64 50.018 59.64 53.159 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(5,5,5); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
							<path d="M 47.48 32.681 H 38.36 V 41 h 9.121 c 2.293 0 4.159 -1.866 4.159 -4.16 S 49.773 32.681 47.48 32.681 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(5,5,5); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
							<path d="M 47.48 49 H 38.36 v 8.319 h 9.121 c 2.293 0 4.159 -1.866 4.159 -4.16 C 51.64 50.866 49.773 49 47.48 49 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(5,5,5); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
						</g>
					</g>
				</svg>
			</a>
			<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
				<div class="hamburger-toggle">
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbar-content">
				<f:render partial="Mainnavigation" arguments="{_all}" />

				<form class="d-flex ms-auto">
					<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
				</form>
			</div>
			
		</div>	
		
	</nav>
	<div class="container-fluid">
		<f:render partial="Breadcrumb" arguments="{_all}" />
	</div>
</header>
<v:asset.style name="navbar-style" path="EXT:liepstypo3defaults/Resources/Public/Css/mainnavigation-classic.css" />
<v:asset.script name="navbar" path="EXT:liepstypo3defaults/Resources/Public/Js/mainnavigation-classic.js" />
