<div xmlns="http://www.w3.org/1999/xhtml" lang="de" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<header>
	<nav class="navbar navbar-expand-lg py-4">
		<div class="container">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" title="Zur Startseite">
				<img src="/typo3conf/ext/liepstypo3defaults/Resources/Public/Images/Logos/lieps-logo.png" class="sitelogo" alt="Firmenlogo">
			</a>
			<div class="d-lg-none d-flex buttons">
				<button class="navbar-toggler collapsed" type="button" data-bs-target="#offcanvas" aria-controls="offcanvas" role="button" data-bs-toggle="offcanvas">
					<div class="hamburger-toggle">
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</button>
				<button class="search" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
			<div class="collapse navbar-collapse mt-4" id="navbar-content">
				<f:render partial="Mainnavigation-canvas-from-left-01" arguments="{_all}" />
			</div>
			<button class="d-none d-lg-flex search me-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
			<div class="lang dropdown d-flex flex-column">
				<button class="btn d-flex flex-row justify-content-between align-items-center gap-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false" data-bs-offset="0,5">
					DE
				</button>
				<ul class="dropdown-menu shadow-sm">
					<li><a class="dropdown-item" href="javascript:void(0);">EN</a></li>
					<li><a class="dropdown-item" href="javascript:void(0);">IT</a></li>
					<li><a class="dropdown-item" href="javascript:void(0);">PL</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<f:render partial="Offcanvasnavigation-canvas-from-left-01" arguments="{_all}" />
</header>
<v:asset.style name="navbar-canvas-from-left-01" path="EXT:liepstypo3defaults/Resources/Public/Css/mainnavigation-canvas-from-left-01.css" />
<v:asset.script name="navbar-canvas-from-left-01" path="EXT:liepstypo3defaults/Resources/Public/Js/mainnavigation-canvas-from-left-01.js" />
