<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<header>
	<img src="/typo3conf/ext/liepstypo3defaults/Resources/Public/Images/Logos/lieps-logo.png" class="sitelogo" alt="Firmenlogo">
	<f:render partial="Mainnavigation-modal-full-01" arguments="{_all}" />
	<div class="head">
		<a href="#" class="tile socialmedia"><i class="fa-brands fa-square-facebook"></i></a>
		<a href="#" class="tile socialmedia"><i class="fa-brands fa-square-instagram"></i></a>
		<a href="#" class="tile socialmedia"><i class="fa-brands fa-square-twitter"></i></a>
		<div class="tile ham">
			<div class="hicon">
				<div class="line one"></div>
				<div class="line two"></div>
				<div class="line three"></div>
			</div>
		</div>
	</div>
</header>
<v:asset.style name="navbar-modal-full-01" path="EXT:liepstypo3defaults/Resources/Public/Css/mainnavigation-modal-full-01.css" />
<v:asset.script name="navbar-modal-full-01" path="EXT:liepstypo3defaults/Resources/Public/Js/mainnavigation-modal-full-01.js" />
