<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
	<f:for each="{mainnavigation}" as="mainnavigationItem" iteration="mainiter">
		<li class="nav-item{f:if(condition: mainnavigationItem.active, then:' active')}">
			<f:if condition="{mainnavigationItem.children}">
				<f:then>
					<a href="{mainnavigationItem.link}" data-target="{mainnavigationItem.data.uid}"
						data-bs-target="#offcanvas" aria-controls="offcanvas" role="button" data-bs-toggle="offcanvas"
						target="{mainnavigationItem.target}" title="{mainnavigationItem.title}"
						class="child{mainiter.index} position-relative nav-link{f:if(condition: mainnavigationItem.children, then:' first-dropdown-toggle')}">
						{mainnavigationItem.title}
					</a>
				</f:then>
				<f:else>
					<a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}"
						title="{mainnavigationItem.title}" class="child{mainiter.index} position-relative nav-link">
						{mainnavigationItem.title}
					</a>
				</f:else>
			</f:if>
		</li>
	</f:for>
</ul>
