/* Overwrite Fluid-Styled-Content CSS */

/* Bootstrap5 konforme Ausgabe von Videos (Content-Element -> Text und Medien) */
.ce-center .ce-gallery .ce-outer {float:none;}
.ce-center .ce-gallery .ce-inner {float:none;}
.ce-center .ce-gallery .ce-column {float:none;}
.ce-gallery figure {display:block;}
