<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

  <f:layout name="Content"/>
  <f:section name="Configuration">
    <flux:form id="Section_100" options="{group: 'FCE', Fluidcontent: '{sorting: 100}'}" label="Section"
               description="Section-Container mit Klasse für Farbe und Abstand">

      <flux:field.select name="classColor" label="Farbe" default="none"
                         items="{none: '-', bg_white: 'Weiß', bg_grey: 'Grau'}"/>
      <flux:field.select name="classPadding" label="Abstand" default="none"
                         items="{none: '-', padding10: '10', padding30: '30', padding50: '50'}"/>
      <flux:grid>
        <flux:grid.row>
          <flux:grid.column name="column1" label="Spalte 1" colPos="1"/>
        </flux:grid.row>
      </flux:grid>
    </flux:form>
  </f:section>

  <f:section name="Main">
    <div class="section {classColor} {classPadding}">
      <div class="container">
        <flux:content.render area="column1"/>
      </div>
    </div>
  </f:section>

  <f:section name="Preview">
    <strong>Section ({classColor} {classPadding})</strong>

  </f:section>
</div>
