{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<html data-namespace-typo3-fluid="true">

    <f:layout name="Preview"/>

    <f:section name="Header">
        <be:link.editRecord uid="{data.uid}" table="{data.mainType}"><strong>{data.header}</strong></be:link.editRecord>
    </f:section>

    <f:section name="Content">
        <div style="display:flex;align-items:center;gap:0;padding:.25rem 0;border-top:1px solid #e5e5e5;"></div>
        <f:for each="{data.items}" as="item">
        <div style="margin: 5px 0 0 0;">
            <f:format.crop maxCharacters="80">{item.title}</f:format.crop>
        </div>    
        <div style="margin: 0 0 10px 0;">
            <f:format.crop maxCharacters="80">{item.bewertung}</f:format.crop>
        </div>
        <div style="display:flex;align-items:center;gap:0;padding:.25rem 0;border-top:1px solid #e5e5e5;"></div>
        </f:for>
    </f:section>

    <f:section name="Footer">
        <b>LIEPS-Element:</b> Zuletzt geändert am
        <f:format.date format="d.m.Y \u\m H:i:s \U\h\r">
            {data.rawRecord.tstamp}
        </f:format.date>

        <!-- Abstand davor nur anzeigen, wenn mindestens Extraklein -->
        <f:if condition="{data.space_before_class}">
            <br />
            <b>Abstand davor:</b>
            <f:switch expression="{data.space_before_class}">
                <f:case value="extra-small">Extraklein</f:case>
                <f:case value="small">Klein</f:case>
                <f:case value="medium">Mittel</f:case>
                <f:case value="large">Groß</f:case>
                <f:case value="extra-large">Extragroß</f:case>
            </f:switch>
        </f:if>

        <!-- Abstand danach nur anzeigen, wenn mindestens Extraklein -->
        <f:if condition="{data.space_after_class}">
            <br />
            <b>Abstand danach:</b>
            <f:switch expression="{data.space_after_class}">
                <f:case value="extra-small">Extraklein</f:case>
                <f:case value="small">Klein</f:case>
                <f:case value="medium">Mittel</f:case>
                <f:case value="large">Groß</f:case>
                <f:case value="extra-large">Extragroß</f:case>
            </f:switch>
        </f:if>
    </f:section>

</html>