<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

  <f:layout name="Content"/>
  <f:section name="Configuration">
    <flux:form id="Section_100" options="{group: 'Container', Fluidcontent: '{sorting: 100}'}" label="Section"
               description="Section-Container mit Klasse für Farbe und Abstand">

      <flux:field.select name="classColor" label="Farbe" default="none"
                         items="{bg-transparent: 'Transparent', bg-white: 'Weiß', bg-primary: 'Blau', bg-secondary: 'Grau', bg-light: 'Hellgrau', bg-success: 'Grün', bg-info: 'Cyan', bg-warning: 'Gelb', bg-danger: 'Rot', bg-opacity-25: 'Opacity 25', bg-opacity-50: 'Opacity 50', bg-opacity-75: 'Opacity 75', bg-opacity-100: 'Opacity 100', bg-gradient: 'Gradient', bg-dark: 'Schwarz'}"/>
      <flux:field.select name="classPadding" label="Abstand (Padding)" default="none"
                         items="{none: 'Standard', py-1: 'Extraklein', py-2: 'Klein', py-3: 'Medium', py-4: 'Groß', py-5: 'Extragroß'}"/>
      <flux:grid>
        <flux:grid.row>
          <flux:grid.column name="column1" label="Spalte 1" colPos="1"/>
        </flux:grid.row>
      </flux:grid>
    </flux:form>
  </f:section>

  <f:section name="Main">
    <div class="section {classColor} {classPadding}">
		<div class="container">
			<flux:content.render area="column1"/>
		</div>	
    </div>
  </f:section>

  <f:section name="Preview">
    <strong>Section</strong><br>
	Farbe: {classColor}<br>
	Abstand: {classPadding}
  </f:section>
</div>
