<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
		 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
		 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content"/>
	<f:section name="Configuration">
		<flux:form id="columns-25-25-25-25">
		<flux:form.option.group value="container" />
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column name="column1" label="Spalte 1" colPos="51" style="width: 25%">
					</flux:grid.column>
					<flux:grid.column name="column2" label="Spalte 2" colPos="52" style="width: 25%">
					</flux:grid.column>
					<flux:grid.column name="column3" label="Spalte 3" colPos="53" style="width: 25%">
					</flux:grid.column>
					<flux:grid.column name="column4" label="Spalte 4" colPos="54" style="width: 25%">
					</flux:grid.column>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Main">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<flux:content.render area="column1"/>
					</div>
					<div class="col-lg-3 col-md-6">
						<flux:content.render area="column2"/>
					</div>
					<div class="col-lg-3 col-md-6">
						<flux:content.render area="column3"/>
					</div>
					<div class="col-lg-3 col-md-6">
						<flux:content.render area="column4"/>
					</div>
				</div>
	</f:section>

	<f:section name="Preview">
		<f:translate key="LLL:EXT:liepstypo3defaults/Resources/Private/Language/locallang.xlf:flux.columns-25-25-25-25"/>
	</f:section>
</div>
