<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	{namespace lieps=LiepsGmbH\Liepstypo3defaults\ViewHelpers}

<f:layout name="Content"/>

<f:section name="Configuration">
	<flux:form id="carousel-image">
		<flux:form.option.group value="content" />
		<flux:form.option.sorting value="110" />
		<flux:field.inline.fal name="settings.files" minItems="1" maxItems="1" required="1" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<table width="100%">
		<tr>
			<td>
				<strong>Carousel-Image</strong><br />
				<v:content.resources.fal field="settings.files" as="images" record="{record}">
					<f:for each="{images}" as="image">
						<f:if condition="{image}">
							<f:image src="{image.id}" treatIdAsReference="1" maxWidth="100" cropVariant="default" crop="{image.crop}" />
						</f:if>
					</f:for>
				</v:content.resources.fal>
			</td>
		</tr>
	</table>
</f:section>

<f:section name="Main">
	<v:content.resources.fal field="settings.files" as="images" record="{record}">
		<f:for each="{images}" as="image">
			<f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}" class="d-block w-100 img-fluid" cropVariant="default" crop="{image.crop}" />
		</f:for>
	</v:content.resources.fal>
</f:section>

</div>
