<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />
	<f:section name="Configuration">
		<flux:form id="faq">
			<flux:field.input name="faq-headline" maxCharacters="50" required="1" />
			<flux:form.option.group value="content" />
			<flux:form.sheet name="panels" label="Inhalt">
				<flux:form.section name="panels">
					<flux:form.object name="panel">
						<flux:field.input name="faq-title" label="Titel" />
						<flux:field.text name="faq-text" required="0" enableRichText="1" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="xxl" label="XXL (≥1400px)">
				<flux:field.custom name="warningxxl">
					<h4><b>XXL (ab 1400px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.checkbox name="settings.offsetxxl" label="Abstand zwischen den Spalten (offset-xxl-1)"
					default="0" />
				<flux:field.select name="settings.col1xxl" label="Breite der Spalte 1" default="col-xxl-6"
					items="{0:{0:'1 - (col-xxl-1)',1:'col-xxl-1'},1:{0:'2 - (col-xxl-2)',1:'col-xxl-2'},2:{0:'3 - (col-xxl-3)',1:'col-xxl-3'},3:{0:'4 - (col-xxl-4)',1:'col-xxl-4'},4:{0:'5 - (col-xxl-5)',1:'col-xxl-5'},5:{0:'6 - (col-xxl-6)',1:'col-xxl-6'},6:{0:'7 - (col-xxl-7)',1:'col-xxl-7'},7:{0:'8 - (col-xxl-8)',1:'col-xxl-8'},8:{0:'9 - (col-xxl-9)',1:'col-xxl-9'},9:{0:'10 - (col-xxl-10)',1:'col-xxl-10'},10:{0:'11 - (col-xxl-11)',1:'col-xxl-11'},11:{0:'12 - (col-xxl-12)',1:'col-xxl-12'}}" />
				<flux:field.select name="settings.col2xxl" label="Breite der Spalte 2" default="col-xxl-6"
					items="{0:{0:'1 - (col-xxl-1)',1:'col-xxl-1'},1:{0:'2 - (col-xxl-2)',1:'col-xxl-2'},2:{0:'3 - (col-xxl-3)',1:'col-xxl-3'},3:{0:'4 - (col-xxl-4)',1:'col-xxl-4'},4:{0:'5 - (col-xxl-5)',1:'col-xxl-5'},5:{0:'6 - (col-xxl-6)',1:'col-xxl-6'},6:{0:'7 - (col-xxl-7)',1:'col-xxl-7'},7:{0:'8 - (col-xxl-8)',1:'col-xxl-8'},8:{0:'9 - (col-xxl-9)',1:'col-xxl-9'},9:{0:'10 - (col-xxl-10)',1:'col-xxl-10'},10:{0:'11 - (col-xxl-11)',1:'col-xxl-11'},11:{0:'12 - (col-xxl-12)',1:'col-xxl-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="xl" label="XL (≥1200px)">
				<flux:field.custom name="warningxl">
					<h4><b>XL (zwischen 1200px und 1399px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.checkbox name="settings.offsetxl" label="Abstand zwischen den Spalten (offset-xl-1)"
					default="0" />
				<flux:field.select name="settings.col1xl" label="Breite der Spalte 1" default="col-xl-6"
					items="{0:{0:'1 - (col-xl-1)',1:'col-xl-1'},1:{0:'2 - (col-xl-2)',1:'col-xl-2'},2:{0:'3 - (col-xl-3)',1:'col-xl-3'},3:{0:'4 - (col-xl-4)',1:'col-xl-4'},4:{0:'5 - (col-xl-5)',1:'col-xl-5'},5:{0:'6 - (col-xl-6)',1:'col-xl-6'},6:{0:'7 - (col-xl-7)',1:'col-xl-7'},7:{0:'8 - (col-xl-8)',1:'col-xl-8'},8:{0:'9 - (col-xl-9)',1:'col-xl-9'},9:{0:'10 - (col-xl-10)',1:'col-xl-10'},10:{0:'11 - (col-xl-11)',1:'col-xl-11'},11:{0:'12 - (col-xl-12)',1:'col-xl-12'}}" />
				<flux:field.select name="settings.col2xl" label="Breite der Spalte 2" default="col-xl-6"
					items="{0:{0:'1 - (col-xl-1)',1:'col-xl-1'},1:{0:'2 - (col-xl-2)',1:'col-xl-2'},2:{0:'3 - (col-xl-3)',1:'col-xl-3'},3:{0:'4 - (col-xl-4)',1:'col-xl-4'},4:{0:'5 - (col-xl-5)',1:'col-xl-5'},5:{0:'6 - (col-xl-6)',1:'col-xl-6'},6:{0:'7 - (col-xl-7)',1:'col-xl-7'},7:{0:'8 - (col-xl-8)',1:'col-xl-8'},8:{0:'9 - (col-xl-9)',1:'col-xl-9'},9:{0:'10 - (col-xl-10)',1:'col-xl-10'},10:{0:'11 - (col-xl-11)',1:'col-xl-11'},11:{0:'12 - (col-xl-12)',1:'col-xl-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="lg" label="LG (≥992px)">
				<flux:field.custom name="warninglg">
					<h4><b>LG (zwischen 992px und 1199px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.checkbox name="settings.offsetlg" label="Abstand zwischen den Spalten (offset-lg-1)"
					default="0" />
				<flux:field.select name="settings.col1lg" label="Breite der Spalte 1" default="col-lg-12"
					items="{0:{0:'1 - (col-lg-1)',1:'col-lg-1'},1:{0:'2 - (col-lg-2)',1:'col-lg-2'},2:{0:'3 - (col-lg-3)',1:'col-lg-3'},3:{0:'4 - (col-lg-4)',1:'col-lg-4'},4:{0:'5 - (col-lg-5)',1:'col-lg-5'},5:{0:'6 - (col-lg-6)',1:'col-lg-6'},6:{0:'7 - (col-lg-7)',1:'col-lg-7'},7:{0:'8 - (col-lg-8)',1:'col-lg-8'},8:{0:'9 - (col-lg-9)',1:'col-lg-9'},9:{0:'10 - (col-lg-10)',1:'col-lg-10'},10:{0:'11 - (col-lg-11)',1:'col-lg-11'},11:{0:'12 - (col-lg-12)',1:'col-lg-12'}}" />
				<flux:field.select name="settings.col2lg" label="Breite der Spalte 2" default="col-lg-12"
					items="{0:{0:'1 - (col-lg-1)',1:'col-lg-1'},1:{0:'2 - (col-lg-2)',1:'col-lg-2'},2:{0:'3 - (col-lg-3)',1:'col-lg-3'},3:{0:'4 - (col-lg-4)',1:'col-lg-4'},4:{0:'5 - (col-lg-5)',1:'col-lg-5'},5:{0:'6 - (col-lg-6)',1:'col-lg-6'},6:{0:'7 - (col-lg-7)',1:'col-lg-7'},7:{0:'8 - (col-lg-8)',1:'col-lg-8'},8:{0:'9 - (col-lg-9)',1:'col-lg-9'},9:{0:'10 - (col-lg-10)',1:'col-lg-10'},10:{0:'11 - (col-lg-11)',1:'col-lg-11'},11:{0:'12 - (col-lg-12)',1:'col-lg-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="md" label="MD (≥768px)">
				<flux:field.custom name="warningmd">
					<h4><b>MD (zwischen 768px und 991px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.checkbox name="settings.offsetmd" label="Abstand zwischen den Spalten (offset-md-1)"
					default="0" />
				<flux:field.select name="settings.col1md" label="Breite der Spalte 1" default="col-md-12"
					items="{0:{0:'1 - (col-md-1)',1:'col-md-1'},1:{0:'2 - (col-md-2)',1:'col-md-2'},2:{0:'3 - (col-md-3)',1:'col-md-3'},3:{0:'4 - (col-md-4)',1:'col-md-4'},4:{0:'5 - (col-md-5)',1:'col-md-5'},5:{0:'6 - (col-md-6)',1:'col-md-6'},6:{0:'7 - (col-md-7)',1:'col-md-7'},7:{0:'8 - (col-md-8)',1:'col-md-8'},8:{0:'9 - (col-md-9)',1:'col-md-9'},9:{0:'10 - (col-md-10)',1:'col-md-10'},10:{0:'11 - (col-md-11)',1:'col-md-11'},11:{0:'12 - (col-md-12)',1:'col-md-12'}}" />
				<flux:field.select name="settings.col2md" label="Breite der Spalte 2" default="col-md-12"
					items="{0:{0:'1 - (col-md-1)',1:'col-md-1'},1:{0:'2 - (col-md-2)',1:'col-md-2'},2:{0:'3 - (col-md-3)',1:'col-md-3'},3:{0:'4 - (col-md-4)',1:'col-md-4'},4:{0:'5 - (col-md-5)',1:'col-md-5'},5:{0:'6 - (col-md-6)',1:'col-md-6'},6:{0:'7 - (col-md-7)',1:'col-md-7'},7:{0:'8 - (col-md-8)',1:'col-md-8'},8:{0:'9 - (col-md-9)',1:'col-md-9'},9:{0:'10 - (col-md-10)',1:'col-md-10'},10:{0:'11 - (col-md-11)',1:'col-md-11'},11:{0:'12 - (col-md-12)',1:'col-md-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="sm" label="SM (≥576px)">
				<flux:field.custom name="warningsm">
					<h4><b>SM (zwischen 576px und 767px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.checkbox name="settings.offsetsm" label="Abstand zwischen den Spalten (offset-sm-1)"
					default="0" />
				<flux:field.select name="settings.col1sm" label="Breite der Spalte 1" default="col-sm-12"
					items="{0:{0:'1 - (col-sm-1)',1:'col-sm-1'},1:{0:'2 - (col-sm-2)',1:'col-sm-2'},2:{0:'3 - (col-sm-3)',1:'col-sm-3'},3:{0:'4 - (col-sm-4)',1:'col-sm-4'},4:{0:'5 - (col-sm-5)',1:'col-sm-5'},5:{0:'6 - (col-sm-6)',1:'col-sm-6'},6:{0:'7 - (col-sm-7)',1:'col-sm-7'},7:{0:'8 - (col-sm-8)',1:'col-sm-8'},8:{0:'9 - (col-sm-9)',1:'col-sm-9'},9:{0:'10 - (col-sm-10)',1:'col-sm-10'},10:{0:'11 - (col-sm-11)',1:'col-sm-11'},11:{0:'12 - (col-sm-12)',1:'col-sm-12'}}" />
				<flux:field.select name="settings.col2sm" label="Breite der Spalte 2" default="col-sm-12"
					items="{0:{0:'1 - (col-sm-1)',1:'col-sm-1'},1:{0:'2 - (col-sm-2)',1:'col-sm-2'},2:{0:'3 - (col-sm-3)',1:'col-sm-3'},3:{0:'4 - (col-sm-4)',1:'col-sm-4'},4:{0:'5 - (col-sm-5)',1:'col-sm-5'},5:{0:'6 - (col-sm-6)',1:'col-sm-6'},6:{0:'7 - (col-sm-7)',1:'col-sm-7'},7:{0:'8 - (col-sm-8)',1:'col-sm-8'},8:{0:'9 - (col-sm-9)',1:'col-sm-9'},9:{0:'10 - (col-sm-10)',1:'col-sm-10'},10:{0:'11 - (col-sm-11)',1:'col-sm-11'},11:{0:'12 - (col-sm-12)',1:'col-sm-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="xs" label="XS (<576px)">
				<flux:field.custom name="warningxs">
					<h4><b>XS (bis 575px Breite des Browserfensters)</b></h4>
					<p><b>Mehr Informationen unter: <a href="https://getbootstrap.com/docs/5.2/layout/grid/"
								target="_blank">https://getbootstrap.com/docs/5.2/layout/grid/</a></b> (Es sei denn, Du
						weisst was Du machst!)</p>
				</flux:field.custom>
				<flux:field.select name="settings.col1xs" label="Breite der Spalte 1" default="col-xs-12"
					items="{0:{0:'1 - (col-xs-1)',1:'col-xs-1'},1:{0:'2 - (col-xs-2)',1:'col-xs-2'},2:{0:'3 - (col-xs-3)',1:'col-xs-3'},3:{0:'4 - (col-xs-4)',1:'col-xs-4'},4:{0:'5 - (col-xs-5)',1:'col-xs-5'},5:{0:'6 - (col-xs-6)',1:'col-xs-6'},6:{0:'7 - (col-xs-7)',1:'col-xs-7'},7:{0:'8 - (col-xs-8)',1:'col-xs-8'},8:{0:'9 - (col-xs-9)',1:'col-xs-9'},9:{0:'10 - (col-xs-10)',1:'col-xs-10'},10:{0:'11 - (col-xs-11)',1:'col-xs-11'},11:{0:'12 - (col-xs-12)',1:'col-xs-12'}}" />
				<flux:field.select name="settings.col2xs" label="Breite der Spalte 2" default="col-xs-12"
					items="{0:{0:'1 - (col-xs-1)',1:'col-xs-1'},1:{0:'2 - (col-xs-2)',1:'col-xs-2'},2:{0:'3 - (col-xs-3)',1:'col-xs-3'},3:{0:'4 - (col-xs-4)',1:'col-xs-4'},4:{0:'5 - (col-xs-5)',1:'col-xs-5'},5:{0:'6 - (col-xs-6)',1:'col-xs-6'},6:{0:'7 - (col-xs-7)',1:'col-xs-7'},7:{0:'8 - (col-xs-8)',1:'col-xs-8'},8:{0:'9 - (col-xs-9)',1:'col-xs-9'},9:{0:'10 - (col-xs-10)',1:'col-xs-10'},10:{0:'11 - (col-xs-11)',1:'col-xs-11'},11:{0:'12 - (col-xs-12)',1:'col-xs-12'}}" />
			</flux:form.sheet>
			<flux:form.sheet name="styles" label="CSS Klassen">
				<flux:field.custom name="css">
					<h4><b>CSS Klassen</b></h4>
					<p>Hier können für die FAQ-Selector-Container und den FAQ-List-Container <b>eigene CSS-Klassen</b>
						definiert werden.</p>
				</flux:field.custom>
				<flux:field.input name="settings.section.rowClasses" default="" />
				<flux:field.input name="settings.section.col1Classes" default="" />
				<flux:field.input name="settings.section.col2Classes" default="" />
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Scroll-Spy Element</b><br /><br />
		<f:for each="{panels}" as="panel">
			{panel.panel.faq-title}<br />
		</f:for>
	</f:section>

	<f:section name="Main">
		<v:variable.set name="activeTabIndex" value="-1" />
		<f:for each="{panels}" as="panel" iteration="iteration">
			<f:if condition="{panel.panel.active}">
				<v:variable.set name="activeTabIndex" value="{iteration.index}" />
			</f:if>
		</f:for>

		<div class="row{f:if(condition: settings.section.rowClasses, then: ' {settings.section.rowClasses}')}">
			<div id="faq-selector-container"
				class="faq-selector-container {settings.col1xxl} {settings.col1xl} {settings.col1lg} {settings.col1md} {settings.col1sm} {settings.col1xs}{f:if(condition: settings.section.col1Classes, then: ' {settings.section.col1Classes}')}">
				<ul class="faq-selector position-sticky top-0 py-5">
					<h3 class="mb-5">{faq-headline}</h3>
					<f:for each="{panels}" as="panel" iteration="iteration">
						<li class="faq-selector-item">
							<a href="#faq-list-item-{iteration.index}" title="{panel.panel.faq-title}" class="p-1">
								<i class="fa-solid fa-arrow-right mt-2 pe-2 ps-2"></i>
								<span>
									{panel.panel.faq-title}
								</span>
							</a>
						</li>
					</f:for>
				</ul>

			</div>
			<div
				class="faq-list-container pt-5 {settings.col2xxl} {settings.col2xl} {settings.col2lg} {settings.col2md} {settings.col2sm} {settings.col2xs}{f:if(condition: settings.offsetxxl, then: ' offset-xxl-1', else: ' offset-xxl-0')}{f:if(condition: settings.offsetxl, then: ' offset-xl-1', else: ' offset-xl-0')}{f:if(condition: settings.offsetlg, then: ' offset-lg-1', else: ' offset-lg-0')}{f:if(condition: settings.offsetmd, then: ' offset-md-1', else: ' offset-md-0')}{f:if(condition: settings.offsetsm, then: ' offset-sm-1', else: ' offset-sm-0')} offset-xs-0{f:if(condition: settings.section.col2Classes, then: ' {settings.section.col2Classes}')}">
				<div class="faq-list" data-bs-spy="scroll" data-bs-target="#faq-selector-container"
					data-bs-smooth-scroll="true" tabindex="0">
					<f:for each="{panels}" as="panel" iteration="iteration">
						<div id="faq-list-item-{iteration.index}"
							class="faq-list-item {f:if(condition: iteration.isFirst, then: 'pb-5', else : 'py-5')}">
							<h4>{panel.panel.faq-title}</h4>
							<f:format.html>{panel.panel.faq-text}</f:format.html>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</f:section>
</div>
