<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="offcanvas">
			<flux:form.option.group value="content" />
			<flux:form.sheet name="openbutton" label="Main-Settings">
				<flux:field.input name="settings.buttonText" />
				<flux:field.input name="settings.title" />
                <flux:field.select name="position" default="offcanvas-end" items="{0:{0:'Oben',1:'offcanvas-top'},1:{0:'Rechts',1:'offcanvas-end'},2:{0:'Unten',1:'offcanvas-bottom'},3:{0:'Links',1:'offcanvas-start'}}"/>
			</flux:form.sheet>
			<flux:form.sheet name="advanced" label="CSS-Settings">
				<flux:field.input name="settings.additionalClassesButton" />
				<flux:field.input name="settings.additionalClassesCanvas" />
			</flux:form.sheet>

			<flux:form.content name="content" />

		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Offcanvas</b><br />
		Title: "{settings.title}" / Button: "{settings.buttonText}"
	</f:section>

	<f:section name="Main">
		<v:variable.set name="id" value="offcanvas{record.uid}" />
		<button class="btn{f:if(condition: settings.additionalClassesButton, then: ' {settings.additionalClassesButton}')}" data-bs-toggle="offcanvas" data-bs-target="#{id}" aria-controls="id">
			{settings.buttonText}
		</button>
		<div class="offcanvas {position}{f:if(condition: settings.additionalClassesCanvas, then: ' {settings.additionalClassesCanvas}')}" id="{id}" tabindex="-1" role="dialog" aria-labelledby="{id}Label" aria-hidden="true">
			<div class="offcanvas-header">
				<f:if condition="{settings.title}">
					<h5 id="{id}Label">{settings.title}</h5>
				</f:if>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<flux:content.render area="content" />
			</div>
		</div>
	</f:section>

</div>